@import "tailwindcss";

:root {
  --foreground: #111;
  --font-heading: var(--font-giarek);
  --font-body: var(--font-poppins);
}

html,
body {
  min-height: 100vh;
}

body {
  background: linear-gradient(
    to top right,
    rgba(245, 234, 228, 0.9),
    rgba(255, 251, 249, 0.95),
    rgba(235, 220, 213, 0.9)
  );
  color: var(--foreground);
  font-family: var(--font-body);
}
@keyframes kenBurns {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.18);
  }
}

.animate-ken-burns {
  animation: kenBurns 20s ease-in-out infinite alternate;
}


.animate-text .char {
  opacity: 1 !important;
  filter: blur(0) !important;
  transform: translateY(0) !important;
  transition:
    opacity 0.8s ease,
    filter 0.8s ease,
    transform 0.8s ease;
}
